{% extends "college/base.html" %}
{% block title %}Courses{% endblock title %}
{% block content %}
    <section>
      <div class="container pt-5">
        <table class="table table-dark">
          <thead>
            <tr>
              <th>{{college.name}}</th>
              <th></th>
            </tr>
          </thead>
          {% for course in courses %}
          <tr>
            <td>
              {{course.info}}
            </td>
            <td>
              <a href="#" class="btn btn-info" role="button">Select</a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </section>
{% endblock %}