{% extends "college/base.html" %}
{% block title %}College login{% endblock title %}

      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    
    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}


      <div class="container">
        <h2 class="pt-3">College Login</h2>
        <form method="post" action="{% url 'login_page' %}">{% csrf_token %}
          <table>
            <tr>
              <td>{{ form.username.label_tag }}</td>
              <td>{{ form.username }}</td>
            </tr>
            <tr>
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
            </tr>
          </table>
          <input type="submit" value="login" />
          <input type="hidden" name="next" value="{{ next }}" />
          <!--
          <div class="form-group col-5">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="user" placeholder="Enter username" name="{{ form.username }}">
          </div>
          <div class="form-group col-5">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="{{ form.password }}">
          </div>
          <button type="submit" class="btn btn-primary ml-3">Submit</button>
          -->
        </form>
      </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
